body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #000000;
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h2,
h3 {
  margin: 1rem 0;
}

.register {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 2px;
  gap: 10px;
  width: 260px;
  font-size: 20px;
}

.register a {
  flex: 1;
  text-align: center;
  padding: 10px; 
  text-decoration: none; 
  color: #ffffff;
  border: 1px solid #00000050;
  border-top: 0px;
  border-left: 0px;
  padding: 6px;
  text-decoration: none;
  border-radius: 12px;
  font-family: "Alegreya", sans-serif; 
  font-size: 15px;
  cursor: pointer;
  background-color: #000000;
  gap: 6px;
}
.register a:hover {
  text-decoration: none;
  border-radius: 12px;
  border: 1px solid #00000050;
  background-color: #ffffff;
  padding: 6px;
  box-shadow: 0px 0px 10px 0px rgba(6, 27, 20, 0.822);
  color: #000000;
}

nav a {
  color: #000000;
  border: 1px solid #00000050;
  border-top: 0px;
  border-left: 0px;
  text-decoration: none;
  padding: 5px;
  border-radius: 12px;
  margin: 8px;
  font-family: Alegreya sans-serif;
  font-size: 20px;
  cursor: pointer;
}

nav a:hover {
  text-decoration: none;
  border-radius: 12px;
  border: 1px solid #00000050;
  background-color: #ffffff;
  padding: 6px;
  box-shadow: 0px 0px 10px 0px rgba(6, 27, 20, 0.822);
  color: #000000;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Header styles */
header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-image: url(imgale/healthy-food-decorative-seamless-pattern-repeating-background-tileable-wallpaper-print_153302-477.jpg);
  gap: 0px;
  background-size: contain;
  width: 100%;
}
#logo {
  width: 270px;
  height: 200px;
  display: block;
  margin: auto;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

nav ul li {
  margin: 0 1rem;
}
.navegador ul {
  display: flex;
  justify-content: space-around; 
}

.navegador ul li {
  flex: 1; 
  text-align: center; 
}

.navegador ul li a {
  display: block; 
  padding: 5px; 
  text-decoration: none; 
}
.navegador ul li a :hover {
  text-decoration: none;
  border-radius: 12px;
  border: 1px solid #00000050;
  background-color: #ffffff;
  padding: 5px;
  box-shadow: 0px 0px 10px 0px rgba(6, 27, 20, 0.822);
  color: #000000;
}
nav {
  margin-top: 70px;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 30px;
  width: 700px;
  margin-bottom: 2rem;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.308);
}
.card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  justify-content: center;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.card-title {
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
}

.card-description {
  font-size: 14px;
  color: black;
  text-align: center;
}

.card-price {
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
}
main{
  background-image: url("imagenes/beige-paintbrush-stroke-textured-background.jpg");
}

.Restaurante_info{
  padding: 40px;
  text-align: center;
  border-bottom: 3px solid white;
}
h2{
  text-align: center;
}

.slider-container {
  position: relative;
  max-width: 1000px; 
  margin: 40px auto 0; 
  overflow: hidden;
  padding-bottom: 10px;
  
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 auto;
  width: calc(33.33% - 20px); 
  margin: 0 5px;
}

.card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  justify-content: center;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.card-title {
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
}

.card-description {
  font-size: 14px;
  text-align: center;
  border:none;
}

.card-price {
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-align: center;
}

.slider-controls {
  margin-top: 20px; 
  text-align: center; 
}

.prev,
.next {
  cursor: pointer;
  font-size: 36px;
  padding: 15px;

  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
}

.prev:hover,
.next:hover {
  background-color: #000000;
  color: #ffffff;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 20px;
  color: black !important;
  margin-top: 50px;
  margin-left: 80px;
  margin-right: 80px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  color: #000000;
}

.card img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* footer */

.footer {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 400px;
  background-image: url(imgale/healthy-food-decorative-seamless-pattern-repeating-background-tileable-wallpaper-print_153302-477.jpg);
  
  
}
.footer img {
  width: 160px;
  height: 160px;
}
.contacto {
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconos {
  display: flex;
  width: 400px;
  height: 160px;
  text-align: center;
  color: #000000;
  align-items: center;
  justify-content: end;
  gap: 30px;
}
.iconos p {
  color: #000;
}
.iconos svg {
  width: 30px;
  height: 30px;
}
.whatsapp {
  display: flex;
  width: 100%;
  height: 160px;
  text-align: center;
  color: #000000;
  align-items: center;
  justify-content: end;
  gap: 10px;
}
.whatsapp svg {
  width: 30px;
  height: 30px;
}

#modal::backdrop {
  background-color: rgb(0, 0, 0);
}
#modal-registrar {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.705);
  overflow-y: hidden;
  border-radius: 20px;
}
#modal-registrar h2 {
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#modal-registrar > form {
  background-color: #00000000;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  color: white;
}
#modal-registrar input {
  width: 100%;
  height: 30px;
}
#modal-registrar button {
  color: #ffffff;
  border: 1px solid #00000050;
  border-top: 0px;
  border-left: 0px;
  padding: 3px;
  text-decoration: none;
  border-radius: 12px;
  font-family: "Alegreya", sans-serif;
  font-size: 20px;
  cursor: pointer;
  background-color: #000000;
  gap: 6px;
}
#modal-registrar button:hover {
  text-decoration: none;
  border-radius: 12px;
  border: 1px solid #00000050;
  background-color: #ffffff;
  padding: 4px;
  box-shadow: 0px 0px 10px 0px rgba(6, 27, 20, 0.822);
  color: #000000;
}
#modal-login {
  position: fixed;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.705);
  overflow-y: hidden;
  border-radius: 20px;
}
#modal-login h2 {
  text-align: center;
  color: #ffffff;
  font-size: 50px;
}
#modal-login p {
  text-align: center;
  color: #ffffff;
  font-size: 30px;
}
#modal-login > form {
  background-color: #000000a8;
  padding: 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px;
  color: white;
  align-items: center;
  justify-items: center;
}
#modal-login input {
  width: 200px;
  height: 30px;
}
#modal-login button {
  color: #ffffff;
  border: 1px solid #00000050;
  border-top: 0px;
  border-left: 0px;
  padding: 3px;
  text-decoration: none;
  border-radius: 12px;
  font-family: "Alegreya", sans-serif;
  font-size: 20px;
  cursor: pointer;
  background-color: #000000;
  gap: 6px;
}
#modal-login button:hover {
  text-decoration: none;
  border-radius: 12px;
  border: 1px solid #00000050;
  background-color: #ffffff;
  padding: 4px;
  box-shadow: 0px 0px 10px 0px rgba(6, 27, 20, 0.822);
  color: #000000;
}